/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    width: 25%;
    border: solid orange 5px;
    position: fixed;
    left: 0;
    margin: 5px;
    padding: 5px;
}

#two{
    width: 25%;
    border: solid 5px green;
    position: fixed;
    right: 0px;
    margin: 5px;
    padding: 5px;
}

#three{
    width: 25%;
    border: solid 5px yellow;
    position: fixed;
    left: 0px;
    bottom: 0px;
    margin: 5px;
    padding: 5px;
}

#four{
    width: 25%;
    border: solid 5px blue;
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 5px;
    padding: 5px;
}

#link{
    background-color: blue;
    position: fixed;
    left: 50%;
}